/* Fade In / Page Size */

* {
  margin: 0;
  padding: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Scoller */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background: #4E4E4E;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4E4E4E;
}

/* Normal CSS */

body {
  font-family: 'Mina', sans-serif;
  font-size: 120%;
}

.title a {
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 150%;
  padding: 10px;

  /* To remove <a> properties */

  text-decoration: none;
  color: black;

  /* Transition */

  transition: 1s;
}

.title a:hover {
  padding: 10px;
}

.colcontainer {
  height: auto;
}

.col {
  background: white;
  color: black;
  padding: 20px;

  float: left;
  margin-left: 40px;
  width: 300px;
  height: 200px;

  font-size: 100%;
}

.col:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pageIMG {
  background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1726/tsma80g-1498674311_lrg.png");
  height: 120px;
  width: 1230px;
  padding: 20px;
}

button {
  text-align: center;
  display: block;
  margin: 0 auto;

  border-radius: 12px;
  border: none;
  padding: 20px;

  text-decoration: none;
  color: white;
  background-color: #2CAD82;
  transition: 1s;
  font-size: 150%;
}

button:hover {
  text-decoration: none;
  color: white;
  background-color: #4ADEAD;
}

a {
  text-decoration: none;
  color: #2CAD82;
  transition: 1s;
}

a:hover {
  text-decoration: underline;
}

.footer {
  background: #E3E3E3;
  padding: 20px;
  color: black;
  height: auto;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  color: black;
  text-decoration: underline;
}

.footer .block {
  margin-left: 20px;
  width: 47%;
  height: auto;
  float: left;
}

.footer .block .b2 {
  margin-left: 200px;
}

.footer .copy {
  bottom: 1;
}
