* {
  padding: 0;
  margin: 0;
}

body {
  background: #ddd;
  padding: 90px;
  font-family: sans-serif;
}

.join {
  padding: 50px;
  width: 26%;
  background: #fff;

  text-align: center;
  float: left;

  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

a {
  color: #2D2D2D;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #48B3BD;
}

a.mh {
  color: #48B3BD;
  text-decoration: underline;
}

a.mh:hover {
  color: #3CA2AB;
}

.news {
  float: right;
  width: 60%;
}

.news span {
  background: #fff;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  width: 100%;
  padding: 10px;
  height: 30px;
}

.news span p {
  color: #7F7F7F;
  font-size: 60%;
}

.news span label {
  float: right;
  border-radius: 5px;
}

.news span .new {
  background: tomato;
  color: #fff;
  padding: 7px;
  text-align: right;
  font-size: 75%;
  font-weight: bold;
}

.news span .clo {

}

.news p {
  color: #7F7F7F;
  font-size: 90%;
}

.news a:hover {
  text-decoration: underline;
}

.promo {
  bottom: 0;
  padding: 25px;
  position: fixed;
  background: dodgerblue;
  padding: 20px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 200px;
  height: 50px;
  float: right;
  color: #fff;
}

.promo a {
  color: #fff;
  text-decoration: underline;
}

.promo a:hover {
  text-decoration: underline;
}

.promo img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.promo .oth {
  float: right;
  font-size: 80%;
}
